{% extends 'base.html.twig' %}

{% block title %}Portfolio !{% endblock %}

{% block body %}
    <h1>Hello  {{prenom}} {{nom}}! </h1>
    <p>J'ai {{age}} ans</p>
    <p>Je suis {{job}}</p>
    <p>Datte du jours {{dateDuJour}}</p>
    <img src="{{ asset('images/Seonay.png') }}" alt="Seonay" />
{% endblock %}

